html {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
.inner-c {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}
